<section class="bookings">
    <div class="container">
        <div class="row text-right back">
            <div class="col">
                <button routerLink="/heroes" class="btn btn-danger">
                    <i class="fa fa-arrow-left"></i>
                    Regresar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Titular de la actividad</h3>
                <p class="p1">Será registrado como responsable de la reserva</p>
                <br/>
            </div>
            <div class="col-md-6">
                <label>Número de documento:</label>
                <input type="text" />
            </div>
            <div class="col-md-6">
                <label>Correo Electrónico:</label>
                <input type="text" />
            </div>
            <div class="col-md-6 ">
                <label>Nombres:</label>
                <input type="text" />
            </div>
            <div class="col-md-6">
                <label>Apellidos:</label>
                <input type="text" />
            </div>
            <div class="col-md-6">
                <label>Dirección:</label>
                <input type="text" />
            </div>
            <div class="col-md-6">
                <label>Número de teléfono:</label>
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-5">Visitantes</h3>
                <br/>
            </div>
            <div class="col-md-6">
                <label>Número de documento:</label>
                <input type="text" />
            </div>
            <div class="col-md-6">
                <label>Correo Electrónico:</label>
                <input type="text" />
            </div>
            <div class="col-md-6 ">
                <label>Nombres:</label>
                <input type="text" />
            </div>
            <div class="col-md-6">
                <label>Apellidos:</label>
                <input type="text" />
            </div>
            <div class="col-md-6">
                <label>Fecha de nacimiento:</label>
                <input type="date" />
            </div>

        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <button class="button button-blue">Reservar</button>
            </div>
            <div class="col-md-4">
            </div>
        </div>

    </div>
</section>